/*set chung */
/*@media screen and (max-width: 992px) 
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 35px;
  word-spacing: 5px;
}
h2 {
  color: blue;
  font-size: 36px;
  margin: 40px;
  border-bottom: 2px solid beige;
}
h3 {
  font-size: 24px;
  margin: 30px;
}
h5 {
  font-size: 22px;
  margin: 25px;
}
i {
  margin-left: 40%;
  padding: 20px 0;
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  margin-left: 25px;
  padding-bottom: 15px;
}
.goals,
.scopes,
.team,
.primary,
.timeline {
  border-top: 10px solid blue;
  border-left: 20px solid blue;
  border-right: 20px solid blue;
  background-color: azure;
}
.goal1,
.goal2,
.goal3 {
  border-bottom: 1px solid beige;
}
.timeline {
  border-bottom: 10px solid blue;
}
.timeline1,
.timeline2,
.timeline3,
.timeline4,
.timeline5,
.timeline6,
.timeline7 {
  border-bottom: 2px dashed rgb(77, 200, 205);
}
.number {
  width: 60px;
  height: 60px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 36px;
  background-color: blueviolet;
  border-radius: 50%;
  margin-left: 10%;
  margin-top: 2%;
}
